[Unit]
Description=USB Volume Control Daemon
After=usb-volume-control-init.service

[Service]
ExecStart=/usr/bin/node /opt/usb-volume-control/daemon/daemon.mjs
WorkingDirectory=/opt/usb-volume-control/daemon
StandardOutput=journal
StandardError=journal
Restart=always
User=root

[Install]
WantedBy=multi-user.target
